body{
    padding-top: 300px;
    background-image:url(calci\ 2.jpg);
    background-size:cover;
}
button{
    border-radius: 20px;
    color: blue;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
}
button:hover{
    background-color: brown;
}

.output-row{
  height: 60px;
}
.output-row td {
  padding-bottom: 10px;
}


table {
  border: 2px solid black;   
  border-collapse: collapse; 
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

tr, td {
  border: none;  
  padding: 0;    
  margin: 0;
}



input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: right;
  border: 2px solid black;
  border-radius: 15px;
  padding-right: 10px;
}